/*.sidebar-toggler {*/
    /*margin-left: auto;*/
    /**/
/*}*/

/*.ui.icon.menu .item {*/
    /*text-align: left;*/
/*}*/

.ui.segment .custom-segment {
    margin-bottom: 0;
}

.sidebar-pusher {
    height: 100%;
}

.sidebar-toggler {
    position: absolute;
    top: 17px;
    left: 50%;
    z-index: 2000;
}

.ui.icon.menu .sidebar-item {
    text-align: left;
}

.info-modal {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
}

.error-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
    .sidebar-pusher {
        margin-left: 350px;
    }
}